/* global settings */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
 }
body{
    font-family:'sans serif','cairo';
    background-color: #efefef;
}

/* start loading */

body.load{
   position: fixed;
   width:100%;
   height: 100vh;
}
body.load::before{
   content: "";
   width:100%;
   height:100%;
   position: absolute;
   top:0;
   left:0;
   background-color: black;
   z-index: 100;
}
.loading{
   position: absolute;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);
   z-index: 101;
}
.loading span{
   font-size: 80px;
   color:white;
   text-transform: uppercase;
   letter-spacing: 5px;
   line-height: 1;
   mix-blend-mode: difference;
   position: relative;
   z-index: 103;
}

.loading::before{
   content:"";
   width:100px;
   height: 100%;
   position: absolute;
   top:0;
   left:0;
   z-index: 102;
   background-color: white;
   animation: move 3s linear infinite;
}

@keyframes move {
   0%,100%{
       left:0;
   }
   50%{
       left:calc(100% - 100px);
   }
}

@media (max-width:767px)  {
   .loading span{
       font-size: 50px;
   }
   .loading::before{
       width: 80px;
   }

   @keyframes move {
       0%,100%{
           left:0;
       }
       50%{
           left:calc(100% - 80px);
       }
   }
}

/* end loading */


@media (min-width:767px){
   ::-webkit-scrollbar{
      width:10px;
  }
    ::-webkit-scrollbar-track{
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb{
        background-color: #bbb;
    }
    ::-webkit-scrollbar-thumb:hover{
        background-color: #999;
    }
    /* .challenge_days .day_container::-webkit-scrollbar-thumb{
        background-color: transparent;
    }
    .challenge_days .day_container::-webkit-scrollbar-thumb:hover{
        background-color: #999;
    } */
}
:root{
    --safe-btn-clicked-before-height:0;
}


 /* mangae containers */

 .container{
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
 }
 /* Small */
 @media (min-width:768px) {
    .container{
       width:750px;
    }
 }
 /* Mediun */
 @media (min-width:992px) {
    .container{
       width:970px;
    }
 }
 /* Large */
 @media (min-width:1200px) {
    .container{
       width:1170px;
    }
 }





/* start header & landing */
.header{
    display:flex;
    align-items: center;
    padding: 0 20px;
    height: 85px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: white;
}
@media (max-width:767px){
    .header{
        padding:10px;
        height: 55px;
    }
}
.header .logo{
    display: flex;
    align-items: center;
}
@media (max-width:767px){
    .header .logo{
        height:55px;
    }
    .header .logo img{
        height:100%;
    }
}
.header .pers{
    display: flex;
    justify-content: end;
}
.header .date{
    font-size:22px;
    text-align: center;
    flex: 1;
}
@media (max-width:767px){
    .header .date{
        font-size:14px;

    } 
}
.header .progress_baner{
    width:120px;
    height:50px;
    display: block;
    background-color: #111;
    color:white;
    text-align: center;
    line-height: 50px;
    border-radius:20px;
    font-size: 22px;
    font-weight: bold;
}
@media (max-width:767px){
    .header .progress_baner{
        width:60px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }
}

.landing_body{
    background-image: url(../images/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 85px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:767px){
    .landing_body{
        height: calc(100vh - 55px);
    }
}
.landing_body::after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgb(0,0,0,0.40);
    top:0;
    left:0;
}
.landing_body .content{
    z-index: 1;
    position: relative;
}
.landing_body h1{
    font-size: 70px;
    text-align: center;
    color:white;
    font-weight: 600;
}
@media (max-width:767px){
    .landing_body h1{
        font-size: 45px;
    }
}
.landing_body p{
    max-width: 430px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;
    color:white;
    text-align: center;
    margin: 10px auto;
}
@media (max-width:767px){
    .landing_body p{
        font-size: 14px;
        line-height: 1.4;
        width:300px;
    }
}
.landing_body .work-btn{
    width: 150px;
    height: 60px;
    border: 2px solid white;
    border-radius: 25px;
    margin: 30px auto;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing_body .work-btn a{
    color:inherit;
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
}
@media (max-width:767px){
    .landing_body .work-btn{
      width: 110px;
      height: 45px;
      border-radius: 18px;
    }
    .landing_body .work-btn a{
        font-size: 17px;
    }
}
.landing_body .work-btn:hover {
    background-color: white;
    color: #111;
    border: 0;
}

/* end header & landing */

/* start workspace */

  /* --start master-challenge */
  .master_challenge > h2{
    width: fit-content;
    margin: 15px auto;
    font-size: 32px;
  }
  .personal_diary > h2{
    width: fit-content;
    margin: 15px auto;
    font-size: 32px;
  }
  @media (max-width:767px){
    .master_challenge > h2{
        font-size: 25px;
    }
    .personal_diary > h2{
        font-size: 25px;
      }
  }
     /* start progress board */
     .progress_board{
        max-width: 800px;
        height: 100vh;
        background-color: white;
        margin: 30px auto;
        border: 1px solid #707070;
        border-radius: 21px;
        display:flex;
        flex-flow: column;
     }
     @media (max-width:767px){
        .progress_board{
            border-radius: 17px;
        }
     }
     .progress_board .p_header{
        padding: 10px 20px;
        color:#707070;
        border-bottom: 1px solid #707070;
        flex:0 1 auto;
     }
     @media (max-width:767px){
        .progress_board .p_header{
            padding: 10px;
        }
     }
     .progress_board .p_header h2{
        font-weight: 500;
     }
     @media (max-width:767px){
        .progress_board .p_header h2{
            font-size: 18px;
        }
     }
     .progress_board .p_content{
        display:flex;
        flex:1 1 auto;
        position: relative;
        padding: 15px;
        flex-direction: column;
        align-items: center;
    }
    .progress_board .p_content::before{
        content:"";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 50px;
        border-color:#2196f3 transparent transparent #2196f3;
        position: absolute;
        top:0;
        left:0;
    }
    .progress_board .p_content::after{
        content:attr(data-day);
        position: absolute;
        width:65px;
        text-align: center;
        top:15px;
        left:0;
        color:white;
        font-size: 16px;
        font-weight: 600;
    }
    @media (max-width:767px){
        .progress_board .p_content::before{
            border-width: 30px;
        }
        .progress_board .p_content::after{
            font-size: 12px;
            width:35px;
            top:5px;
            left:0;
        }
    }
     .progress_board .p_content .progress_box{
        width: 400px;
        max-width: 100%;
        height: 50px;
        background-color: #ccc;
        margin-top: 100px;
    }
    @media (max-width:767px){
        .progress_board .p_content .progress_box{
            height: 35px;
        }
    }
     .progress_board .p_content .fill{
        height: 100%;
        background-color: #2196f3;
        position: relative;
     }
     .progress_board .p_content .fill::before{
        content:attr(data-width);
        width:60px;
        height:35px;
        background-color: #efefef;
        color:#707070;
        position: absolute;
        right:-30px;
        bottom: -45px;
        display: flex;
        align-items: center;
        justify-content: center;
     }
     .progress_board .p_content .fill.ended{
      background-color: #4caf50;
     }
     .progress_board .p_content .fill.ended::before{
      content: attr(data-width);
      width: 60px;
      height: 35px;
      color: white;
      font-weight: 700;
      position: absolute;
      left: 50%;
      top: 50%;
      background-color: transparent;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
     }
     @media (max-width:767px){
        .progress_board .p_content .fill::before{
            width:50px;
            height:25px;
            right:-25px;
            bottom: -35px;
        }
     }
     .progress_board .p_content .fill::after{
        content:"";
        width:0;
        height:0;
        border-color: transparent transparent #efefef transparent;
        border-width: 6px;
        border-style: solid;
        position: absolute;
        right:-6px;
        bottom: -10px;
     }
     .progress_board .p_content .fill.ended::after{
      display: none;
     }
     .progress_board .p_content .done_btn{
        border: 3px solid #707070;
        color: #707070;
     }
     @media (max-width:767px){
        .progress_board .p_content .done_btn{
            width: 160px;
            height: 40px;
        }
     }
     .progress_board .p_content .done_btn::after,
     .progress_board .p_content .done_btn_clicked::after{
        content:attr(data-title);
        position: relative;
        z-index: 4;

     }
     .progress_board .p_content .done_btn:hover{
        background-color: #707070;
        color:white;
        border:0;
     }
     .progress_board .p_content .done_btn_clicked,
     .progress_board .p_content .done_btn{
      width: 200px;
      height: 50px;
      border-radius: 10px;
      background-color: #fff;
      font-weight: 800;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      cursor: pointer;
      transition: .3s;
     }
     .progress_board .p_content .done_btn_clicked{
      color: #F44336;
      border: 2px solid #F44336;
      font-size: 23px;
     }
     .progress_board .p_content .done_btn_clicked:hover{
      background-color: #F44336;
      color:white;
      border: 0;
     }
     @media (max-width:767px){
        .progress_board .p_content .done_btn_clicked{
         width: 160px;
         height: 40px;
         font-size: 20px;
        }
     }
     .progress_board .p_content .done_btn_clicked::before{
        content: "";
        width:100%;
        height:var(--safe-btn-clicked-before-height);
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        background-color: #2196f3;
        animation:wallAnim .2s linear;
     }
     @keyframes wallAnim {
      0%{
         height: 0;
      }
      100%{
         height:var(--safe-btn-clicked-before-height);
      }
     }
     
     /* end progress board */

     /* start challenge days */

     .challenge_days{
        max-width: 800px;
        height: 90vh;
        background-color: white;
        margin: 30px auto;
        border: 1px solid #707070;
        border-radius: 21px;
        display:flex;
        flex-flow: column;
        position: relative;
     }
      .ch_header{
        padding: 10px 20px;
        color:#707070;
        border-bottom: 1px solid #707070;
        flex:0 1 auto;
        display: flex;
        justify-content: space-between;
     }
     @media (max-width:767px){
        .ch_header{
            padding: 10px;
            height: 54px;
        }
     }
      .ch_header h2{
        font-weight: 500;
     }
     @media (max-width:767px){
         .ch_header h2{
            font-size: 18px;
        }
     }
      .ch_header .search_box{
         display: flex;
         height: 40px;
         position: absolute;
         box-shadow: 0 1px 5px #DDD;
         background-color: white;
         border-radius: 5px;
         overflow: hidden;
         right: 10px;
         transition: .3s;
     }

      .ch_header .search_box .search_btn{
        padding: 0 10px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        transition: .3s;
     }
      .ch_header .search_box:hover .search_btn{
        border-radius: 5px 0 0 5px;
        transition: .3s;
     }
      .ch_header .search_box input{
        width:0;
        padding:0;
        border: 0;
        transition: .3s;
     }
      .ch_header .search_box:hover input{
        padding:0 10px;
        width:300px;
        transition: .3s;
     }
     @media (max-width:767px){
         .ch_header .search_box .search_btn{
            transition: 0s;
        }
         .ch_header .search_box:hover .search_btn{
            border-radius: 5px;
            transition: 0s;
         }
          .ch_header .search_box input{
            transition: 0s;
         }
          .ch_header .search_box:hover input{
            padding:0;
            width: 0;
            border: 0;
         }
          .ch_header{
            position:relative;
         }
          .ch_header .search_box.clicked{
            box-shadow: none;
            position:absolute;
            background-color: white;
         }
          .ch_header .search_box.clicked .search_btn{
            border-radius: 5px 0 0 5px;
         }
          .ch_header .search_box.clicked input{
            padding:0 10px;
            width: 240px;
         }

     }
      .ch_header .search_box input:focus{
        outline: none;
     }
      .ch_content{
        display:flex;
        flex:1 1 auto;
        padding: 15px;
        flex-direction: column;
        overflow-y: scroll;
        align-items: center;
        position: relative;
     }
     .ch_content.no_item_found::before{
      content: "Sorry no item found";
      position: absolute;
      font-size: 25px;
      top: 32%;
      left: 30%;
     }
     .ch_content.no_item_found::after{
      content: " \f071";
      font-family: "font awesome 6 free";
      font-weight: 900;
      position: absolute;
      font-size: 40px;
      top: 32.5%;
      right: 32%;
     }
     .ch_content.no_item::before{
      content: "There is no item !";
      font-size: 20px;
     }
     @media (max-width:767px){
         .ch_content{
            padding: 5px;
         }
     }
      .ch_content .days_container{
        width:80%;
        padding: 10px 30px;
     }
     @media (max-width:767px){
         .ch_content .days_container{
            padding: 5px 10px;
            width: 95%;
         }
     }
      .ch_content .days_container .day{
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 1px 5px #DDD;
        cursor: pointer;
        margin-bottom: 20px;
        position: relative;
     }
     @media (max-width:767px){
         .ch_content .days_container .day{
            margin-bottom: 15px;
         }
     }
      .ch_content .days_container .day:hover{
        box-shadow: none;
     }
      .ch_content .days_container .day:hover .title{
        background-color: #707070;
        color:white;
     }
      .ch_content .days_container .day .numb{
        width:50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        display: block;
        background-color: #111;
        color:white;
        font-weight: 800;
        font-size: 25px;
     }
     @media (max-width:767px){
         .ch_content .days_container .day .numb{
            width:33px;
            height: 33px;
            line-height: 33px;
            font-size: 16px;
         }
     }
      .ch_content .days_container .day .title{
        display:flex;
        align-items: center;
        flex:1;
        max-width: calc(100% - 50px);
        padding: 5px 10px;
        font-size: 20px;
        font-weight: 800;
        color:#707070
     }
     .ch_content .days_container .day .title .title_box{
      flex:1;
      height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 40px;
      padding-right: 5px;
     }
     .ch_content .days_container .day .title .write_box{
      width:60px;
     }
     @media (max-width:767px){
         .ch_content .days_container .day .title{
            font-size: 12px;
            max-width: calc(100% - 33px);
         }
         .ch_content .days_container .day .title .title_box{
            height: 23px;
            line-height: 23px;
         }
     }
     .challenge_days .the_day_popup{
        position: fixed;
        width:40%;
        top:10px;
        left:30%;
        background-color: white;
        border-radius: 15px 0 15px 15px;
        padding: 40px 10px 10px 20px;
     }
     @media (max-width:767px){
        .challenge_days .the_day_popup{
            position: fixed;
            width:90%;
            top:30px;
            left:5%;
            border-radius: 10px 0 10px 10px;
            padding: 30px 5px 5px 10px;
         }
     }
     .challenge_days .pop_up_outline{
        width: 100%;
        height: 100vh;
        top:0;
        left:0;
        background-color: rgb(0,0,0,0.70);
        position: fixed;
        z-index: 7;
     }
     .challenge_days .the_day_popup .exit{
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
     }
     .challenge_days .the_day_popup .exit i.far.fa-window-close{
        font-size: 30px;
     }
     .challenge_days .the_day_popup .exit i.fas.fa-window-close{
        font-size: 30px;
        display: none;
     }
     .challenge_days .the_day_popup .exit:hover i.far.fa-window-close{
        font-size: 30px;
        display: none;
     }
     .challenge_days .the_day_popup .exit:hover i.fas.fa-window-close{
        font-size: 30px;
        display: inline;
        color: red;
     }

     .challenge_days .the_day_popup .day_container{
        width:90%;
        margin:20px auto;
        border-radius: 15px;
        height: 550px;
        overflow: auto;
     }
     .challenge_days .the_day_popup .day_container.no_image {
      border: 1px solid #707070;
     }
     @media (max-width:767px){
        .challenge_days .the_day_popup .day_container{
            width:90%;
            margin:20px auto;
            border-radius: 10px;
            height: 400px;
            overflow: auto;
         }
     }
     .challenge_days .the_day_popup .day_container .image{
        overflow: hidden;
        width: 100%;
     }
     .challenge_days .the_day_popup .day_container.no_image .image{
      display: none;
     }
     .challenge_days .the_day_popup .day_container .image img{
        width:100%;
        display: block;
     }
     .challenge_days .the_day_popup .day_container .d_content{
        padding: 10px 20px;
        border-radius:0 0 15px 15px;
        border: 1px solid #707070;
        border-top: 0;
     }
     .challenge_days .the_day_popup .no_image .d_content{
      border: 0;
     }
     @media (max-width:767px){
        .challenge_days .the_day_popup .day_container .d_content{
            padding: 5px 10px;
            border-radius:0 0 10px 10px;
         }
     }
     .challenge_days .the_day_popup .day_container .d_content .title{
        display: block;
        width: fit-content;
        font-size: 23px;
        font-weight: 700;
        color:#707070;
     }

     .challenge_days .the_day_popup .day_container .d_content .text_day{
        margin: 10px 0;
        font-size: 17px;
        font-weight: 500;
        color:#707070;
     }
     @media (max-width:767px){
        .challenge_days .the_day_popup .day_container .d_content .title{
            font-size: 20px;
         }
         .challenge_days .the_day_popup .day_container .d_content .text_day{
            font-size: 14px;
         }
     }

     /* end challenge days */

  /* --end master-challenge */
  /* start personal diary */

  .diary_days{
    max-width: 800px;
    height: 90vh;
    background-color: white;
    margin: 30px auto;
    border: 1px solid #707070;
    border-radius: 21px;
    display:flex;
    flex-flow: column;
    position: relative;
 }
 .diary_days .pop_up_outline{
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    background-color: rgb(0,0,0,0.70);
    position: absolute;
    position: fixed;
    z-index: 8;
 }

 .diary_days .pop_up_outline.remove{
    display: none;
 }
 .diary_days .pop_up_outline .the_diary_creator{
    position: fixed;
    width:40%;
    top:10px;
    left:30%;
    background-color: white;
    border-radius: 15px 0 15px 15px;
    padding: 40px 20px 100px 20px;
 }
 @media (max-width:767px){
   .diary_days .pop_up_outline .the_diary_creator{
      position: fixed;
      width: 90%;
      left: 5%;
      top: 15px;
      background-color: white;
      border-radius: 15px 0 15px 15px;
      padding: 40px 20px 100px 20px;
   }
 }
 .diary_days .pop_up_outline .exit{
    width:fit-content;
    position: absolute;
    top:0px;
    right: 13px;
    font-size: 25px;
    cursor: pointer;
 }
 .diary_days .pop_up_outline .exit i.fas.fa-window-close{
    display: none;
 }
 .diary_days .pop_up_outline .exit:hover i.fas.fa-window-close{
    display: inline;
    color:red;
 }
 .diary_days .pop_up_outline .exit:hover i.far.fa-window-close{
    display: none;
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container{
    width:90%;
    margin:0 auto;
    border-radius: 15px;
    height: 500px;
 }
 @media (max-width:767px){
   .diary_days .pop_up_outline .the_diary_creator .day_container{
      height: 375px;
   }
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .image{
    width:100%;
    height: 65%;
    background-color: #efefef;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .image .add_img_btn label{
    width:180px;
    height: 60px;
    border:3px solid #707070;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .image .add_img_btn label span{
    font-size: 19px;
    font-weight: 700;
    color:#707070;
    padding-left: 5px;
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .image .add_img_btn label span.added{
    display: none;
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .image .add_img_btn label i{
    font-size: 20px;
    color: #707070;
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .image .add_img_btn label i.fa-solid.fa-image{
    display: none;
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .image .add_img_btn label:hover{
    background-color: #707070;
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .image .add_img_btn label:hover span{
    color:#efefef;
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .image .add_img_btn label:hover i.fa-solid.fa-image{
    display: inline;
    color:#Efefef;
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .image .add_img_btn label:hover i.fa-regular.fa-image{
    display: none;
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .image .add_img_btn input{
    display: none;
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .creao_content{
    width:100%;
    height: 35%;
    border:1px solid #ccc;
    border-top: 0;
    border-radius: 0 0 15px 15px;
    padding: 10px;
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .creao_content input[type="text"],
 .creao_content textarea{
    border:1px solid #ccc;
    border-radius: 5px;
    display:block;
    width:100%;
    padding:10px 15px;
    margin-bottom: 10px;
    font-family:'sans serif','cairo';
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .creao_content input[type="text"]:focus,
 .creao_content textarea:focus{
    outline: none;
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .creao_content textarea{
    height: 80px;
    resize: none;
 }
 @media (max-width:767px){
   .diary_days .pop_up_outline .the_diary_creator .day_container .creao_content textarea{
      height: 55px;
   }
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .creao_content input[type="submit"]{
    position: absolute;
    bottom: 15px;
    right: 40px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 800;
    color: white;
    background-color: #2196f3;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
 }
 @media (max-width:767px){
   .diary_days .pop_up_outline .the_diary_creator .day_container .creao_content input[type="submit"]{
      padding: 10px 30px;
      font-size: 16px;
      bottom: 25px;
      right: 35px;
   }
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .creao_content input[type="submit"]:hover{
    background-color: #2180f3;
 }
 .diary_days .pop_up_outline .the_diary_creator .day_container .creao_content input[type="text"]::placeholder,
 .creao_content textarea::placeholder{
    color:#ccc;
    font-weight: 700;
    font-size: 17px;
    font-family:'sans serif','cairo';
 }
.diary_days .add_btn{
    width: 60px;
    height: 60px;
    background-color: #2196f3;
    color: white;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 30px;
    right: 35px;
    cursor: pointer;
    z-index: 6;
}
.diary_days .add_btn .in_cont{
   width: 100%;
   height: 100%;
   font-size: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: .3s;
}
.diary_days .add_btn .in_cont:hover{
    transform: scale(1.1);
    transition: .3s;
}
@media (max-width:767px){
    .diary_days .add_btn{
        width: 40px;
        height: 40px;
        background-color: #2196f3;
        color: white;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        bottom: 10px;
        right: 15px;
        cursor: pointer;
        z-index: 7;
    }
    .diary_days .add_btn .in_cont{
        width: 100%;
        height: 100%;
        font-size: 16px;
        transition: .3s;
    }
    .diary_days .add_btn .in_cont:hover{
        transform: scale(1);
    }
}
  /* end personal diary */


/* end workspace */